@model IEnumerable<Login_Reginstration_proj.Models.Topic>


@{
    ViewBag.Title = "addTopics";
}

<h2>addTopics</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <td>Topics</td>        
    </tr>
    <tr>
        <td>@Html.DisplayName("Topic names:- ")</td>
        <td>@Html.DropDownList("MyTopics", new SelectList(ViewBag.topics, ViewBag.ids))</td>
    </tr>


</table>
