@model IEnumerable<Login_Reginstration_proj.Models.Topic>


@{
    ViewBag.Title = "addTopics";
}

<h2>addTopics</h2>
@using (Html.BeginForm("Save", "Topics"))
{
    <table class="table">
        <tr>
            <th></th>
            <td>Topics</td>
        </tr>
        <tr>
            <td>@Html.DisplayName("Topic names:- ")</td>
            <td>@Html.DropDownList("MyTopics","Select Topics")</td>
            <td>
                <input type="submit" name="Save" value="Save" />                
            </td>
        </tr>
    </table>
}
